<div class="container mt-3">
<h1>Add a review for <%= @restaurant.name %></h1>
<%= simple_form_for [ @restaurant, @review ], defaults: { wrapper_html: { class: 'my-3' }} do |f| %>
  <%= f.select(:rating, [0, 1, 2, 3, 4, 5], {include_blank: "Rating"}, { :class => 'form-select my-3' }) %>
  <%= f.input :content %>
  <%= f.submit "Post Review", class: "btn btn-secondary" %>
<% end %>
</div>
